// Define all colors which are used in the project to avoid that
// similar colors are defined twice.

// ATTENTION ATTENTION: Please keep this list ordered alphabetically
$blue: #112A46;
$light-blue: #52B6CA;
$grey-dark: #8D9399;
$grey: #B7BFC7; // for border
$grey-light: #E7E9EC; // also used im design as: #E8EAED
$white: #FFFFFF;
$black: #000000;

// Link color
$link-color: $light-blue;
$link-hover-color: $light-blue;

// focus color
$focus-color: $light-blue;
