.u-space-after-big {
    margin-bottom: 96px;

    @include media('<tablet') {
        margin-bottom: 48px;
    }
}

.u-space-after-medium {
    margin-bottom: 32px;

    @include media('<tablet') {
        margin-bottom: 24px;
    }
}

.u-space-before-medium {
    margin-top: 32px;

    @include media('<tablet') {
        margin-bottom: 24px;
    }
}

.u-space-after-small {
    margin-bottom: 12px;

    @include media('<tablet') {
        margin-bottom: 8px;
    }
}

.u-space-mobile-after-small {
    @include media('<tablet') {
        margin-bottom: 8px;
    }
}

.u-space-big {
    margin: 96px 0;

    @include media('<tablet') {
        margin: 48px 0;
    }
}

.u-space-big-before {
    margin-top: 96px;

    @include media('<tablet') {
        margin-top: 48px;
    }
}

.u-space-big-after {
    margin-bottom: 80px;

    @include media('<tablet') {
        margin-bottom: 40px;
    }
}
